<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Conversific_Test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1> category</h1>
<ul>
    {% for key in category|keys %}
        <li>{{key}}</li>
    {% endfor %}
</ul>
        </div>
</body>
<footer>
    <p>© 2018 Gandalf</p>
</footer>
